.socialBar {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  background-color: #e5e5e5;
  padding: 10px 20px;
}

.iconLink {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.iconImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}